.root {
  flex-grow: 1;
}
.title-centred {
  margin: auto !important;
}
.image-gabarit {
  width: 35px;
  height: 35px;
}

.button-api {
  color: white !important;
  border: none !important;
  font-weight: 500;
}

.link-wrapper {
    text-decoration: none !important;
}
