.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.empty-div {
  background-color: #3f51b5;
  height: 50px;
}
.styled-copyright {
  color: white;
  font-weight: italic;
  font-size: 12px;
  padding-left: 10px;
}
.styled-description {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
}
.styled-maddewithlove {
  color: white;
  font-weight: italic!important;
  font-size: 12px!important;
  padding-left: 10px!important;
  margin-right: 10px!important;
}
